In [1]:
a=11
b=12
c=13
print(a)
print(b)
print(c)
print(a,b,c)

11
12
13
11 12 13

In [2]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [6]:
print(a,end="\t")
print(b)
print(c)

11	12
13

In [7]:
print(a,b,c)

11 12 13

In [8]:
print(a,b,c,sep=",")

11,12,13

In [10]:
print(a,b,c,sep="@",end="\t")
print(a,c)

11@12@13	11 13

In [13]:
print(a,b,c,sep="")

111213

In [14]:
print(a b c)

SyntaxError: invalid syntax (<ipython-input-14-1bd4d1ff6b39>, line 1)

In [15]:
# write a program to read three inputs from the user print that inputs seperated with $  symbol and end with % symbol.
a=input("enter the first number")
b=input()
c=input()
print(a,b,c,sep="$",end="%")

enter the first number45
78
89
45$78$89%

#### Operators
- arithmatic operator(+,-,*,/,//,%)
- assignment operators(=)
- comparison operators(<,>,<=,>=,==)
- logical operators(annd,or,not)
- bitwise operators((|,&,^)
- identity operators(is,isnot)
- membership operators(in,notin)

#### ARITHMATIC OPERATORS

In [16]:
a=78
b=56
print(a+b)
print("addition",a+b)
print("subtraction",a-b)
print("mul",a*b)
print("power",a**b)
print("intdivision or  floor division",a//b)
print("modulo division",a%b)
print("normal division",a/b)

134
addition 134
subtraction 22
mul 4368
power 9063537806851301394787425545047438571567678382385457961278705521503524847386687022282433358228317374775296
intdivision or  floor division 1
modulo division 22
normal division 1.3928571428571428

In [17]:
a=78
a=a+1
a

79

In [18]:
a+=1
a

80

In [19]:
a-=1 #a=a-1
a/=b # a=a/b
a//=b #a=a//b
a*=b #a=a*b

In [20]:
3.0//2.0

1.0

In [21]:
35/2

17.5

In [22]:
35//2

17

#### Assignment operators(=)

In [23]:
a,b=10,20
print(a,b)

10 20

In [24]:
a=b=c=10
print(a,b,c)

10 10 10

In [25]:
a=10,b=30

SyntaxError: can't assign to literal (<ipython-input-25-c5629ccc1f10>, line 1)

####  Comparison operator

In [26]:
2>3

False

In [27]:
34<10

False

In [28]:
34!=100

True

In [29]:
100<=100

True

In [30]:
100<=89

False

In [32]:
-100= 100

SyntaxError: can't assign to operator (<ipython-input-32-18f2d14e987b>, line 1)

In [ ]:
100==100

#### Logical operators
- and,or,not
- and-if all the inputs are true the output is true
- or-if any of the inputs are trur the output is true

In [33]:
2>3 and 2<3

False

In [34]:
2<3 and 3<4

True

In [35]:
34>100 or 56>100

False

In [36]:
not 10

False

In [37]:
a=10
a!=10

False

### Bitwise operator

In [39]:
2&7

2

In [ ]:
8421
1111---15
1000---8
0100---4
0010---2
0001---1

In [40]:
0010
0111
-------
0010

SyntaxError: invalid token (<ipython-input-40-c9e758e60d24>, line 1)

In [42]:
2|3

3

In [43]:
2^3

1

In [45]:
6<<7

768

In [46]:
2<<3

16

In [47]:
3>>2

0

#### Identity operators
- is,isnot

In [48]:
100==100

True

In [49]:
100 is 100

True

In [50]:
a=100
a is not 100

False

In [51]:
a!=100

False

#### Membership operator
- in and not in

In [53]:
s=[1,2,3,4]
1 in s

True

In [55]:
2 not in s

False