#### Conditional statements
- if ,else if,elis,nested if

In [1]:
if condition:
    statement1
    statement2
    statement3
    ----------
    statementn

SyntaxError: invalid syntax (<ipython-input-1-8ef309e1dadc>, line 5)

In [ ]:
if (condition){
    statements
}

In [5]:
if 2<3:
    print("true")
    print("false")

true
false

In [4]:
if 2<3:
    print("true")

true

# if-else

In [ ]:
if condition:
    statemt1
    ---
    statementn
else:
    statement

In [6]:
if 2<3:
    print("true")
else:
    print("false")

true

#### nested-if

In [7]:
#number should be greater than 10 and positive
num=100
if num>0:
    if num>10:
        print("valid")
    else:
        print("invalid")
else:
    print("invalid")

valid

In [8]:
# number is positive,negative or zero
n=25
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

positive

In [10]:
n=25
if n==0:
    print("zero")
elif n>0:
    print("positive")
else:
    print("negative")

positive

In [11]:
# check whether the given number is even or odd
a=int(input())
if (a%2==0):
    print("even")
else:
    print("odd")

45
odd

In [13]:
# check whether given number is divvisible by 2 but not 10.
a=int(input())
if a%2 is 0 and a%10 is not 0:
    print("valid number")
else:
    print("invalid number")

22
valid number

### range
- predefined function
- range(start,end,step)
- start is inclusive,end is exclusive

In [15]:
range(1,5,1)
#1,2,3,4

[1, 2, 3, 4]

In [ ]:
range(5,10,1)
#5,6,7,8,9

In [16]:
list(range(5,10,1))
#5,6,7,8,9

[5, 6, 7, 8, 9]

In [18]:
list(range(1,20,2))
#1,3,5,7,9,11,13,15,17,19

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [19]:
range(10,1,-1)

range(10, 1, -1)

In [20]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [21]:
range(5)
# 5 is considered as end value
#bydefault start with value is zero and step value is 1.

range(0, 5)

In [22]:
list(range(5))

[0, 1, 2, 3, 4]

In [23]:
range(34,37)
#  34 is start value and 337 is end value
#it will take step  vallue dafault 1

range(34, 37)

In [24]:
list(range(34,37))

[34, 35, 36]

### Loops
- for,while

In [ ]:
#syntax for loop:
for iter in iterable:
    statement

In [ ]:
range(1,10)

In [25]:
for var in range(1,5):
    print(var)
    
    
var---1-->1
var--2-->2
var--3--->3
var---4-->4

1
2
3
4

In [27]:
for i in range(5):
    print("welcome")
#i=0 welcome
#i=1 welcome
#i=2  welcome
#i=3 welcome
#i=4 welcome

welcome
welcome
welcome
welcome
welcome

In [29]:
for i in range(5):
    print("welcome",end=" \t ")

welcome 	 welcome 	 welcome 	 welcome 	 welcome

In [36]:
a=20
b=50
c=30
print(a,b,c,sep=",")

20,50,30

In [35]:
#10 to 1------10,9,8,7,6,5,4,3,2,1
for i in range(10,1,-1):
    print(i,end=",")
    #print(i,sep=",",end=" ")

10,9,8,7,6,5,4,3,2,

In [38]:
#print the numbers in the given range inclusively
#45,50---45,46,47,48,49,50
lb=int(input())
ub=int(input())
for i in range(lb,ub+1):
    print(i,end=" ")

45
50
45 46 47 48 49 50

In [40]:
for j in range(45,50,1):
    print (j)

45
46
47
48
49

In [47]:
#print the numbers alternate numbers b/w the given range exclusively
#40,50
lb=int(input("enter the lower bound"))
ub=int(input("enter the upper bound"))
for i in range(lb+1,ub,2):
    print(i,end=" ")

enter the lower bound40
enter the upper bound50
41 43 45 47 49

In [51]:
#write a python program to print sum of first 10 natural numbers
#1+2+3+4+5+6+7+8+9+10=55
s=0
for i in range(1,11):
    s=s+i
print(s)

55

In [52]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10